<% provide(:title, "Home") %>
<div class="medium-12 columns">
    <% if logged_in? %>
        <div class="medium-4 columns">
            <%= render 'shared/profile' %>
            <%= render 'shared/request_form' %>
        </div>
        <div class="medium-8 columns">
            <h3>Requests Made</h3>
            <%= render 'shared/feed' %>
        </div>
    <% else %>
        <div class="content">
        <h1>Welcome to the maintenance App</h1>
        <p>A system to allow reporting of maintenance and repair requests</p>
        <p><%= link_to "Sign Up here", new_user_path, class: "button" %><br<br></p>
        </div>
    <% end %>

</div>


