<li id="comment- <%= comment.id %>">

    <span class="content"><%= comment.content %></span>
</li>
    <span class="timestamp">
        commented <%= time_ago_in_words(comment.created_at) %> ago.
        </span>
