<% provide(:title, "Comments")%>
<%= form_for(@comment) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
        <%= f.text_area :content, placeholder: "Add comment..." %>
    </div>
    <%= f.submit "Comment" %>
<% end %>
