<% provide(:title, "Users")%>
<h1>All Users</h1>

<table>
   
        <% @users.each do |user| %>
            <tr>

            <td>  <%= link_to user.name, user %> </td>
            <td>
                <% if current_user.admin? && !current_user?(user) %>
                    <%= link_to "delete", user, method: :delete, data: {confirm: "Are you sure???"} %>
                <% end %>

            </td>
            </tr>
        <% end %>
    

</table>
