<% provide(:title, @user.name)%>
<div class="medium-12">
    <div class="medium-4 columns">
        <%= fa_icon('user', text: @user.name) %><br><br>
        <%= fa_icon('envelope',text:   @user.email) %>
    </div>
    <div class="medium-8 columns">
        <% if @user.requests.any? %>
            <h3>Requests ( <%= @user.requests.count %> )</h3>
            <ol class="requests">
                <%= render @requests %>
            </ol>
        <% end %>
    </div>
</div>
