<% if object.errors.any? %>
    Your input has: <%= pluralize(object.errors.count, "error") %>
<ul>
    <% object.errors.full_messages.each do |error| %>
        <li> <%= error %></li>
    <% end %>
</ul>
        <% end %>
