.alert {
    color: white;
    background-color: green;
}

.content {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: url(m2.jpg);
    position: relative;
    height: 100%;
    color: white;
}
.footer {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    color: #fff;
    background-color: #1F0A17;

}

#example-menu {
    background: #1F0a17;
}

